
body{
    position: relative;
    width: 375px;
    height: 667px;
    background: #F3F3F3;
}
.login{
height: 667px;
width: 375px;
left: 1063px;
top: -474px;
border-radius: 0px;
background: #F3F3F3;
display: none;
}
.logotipo{
height: 92px;
width: 130px;
left: 122px;
top: 72px;
border-radius: 0px;
position: absolute;
width: 130px;
height: 92px;
left: 122px;
top: 72px;
}
.escremitenteveaqui1{
  position: absolute;
width: 260px;
height: 54px;
left: 58px;
top: 258px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* or 139% */

display: flex;
align-items: center;
text-align: center;

color: #AEAEAE;

}
.button{
  position: absolute;
width: 109px;
height: 45px;
left: 133px;
top: 327px;

background: #E7E7E7;
border-radius: 9px;
}
main {
    margin-top: 92px;
    margin-bottom: 108px;
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
  }
.topo{
    position: fixed;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    height: 80px;
    width: 375px;

   
  }
  .topo  img {
    position: absolute;
    width: 75px;
    height: 53px;
    left: 22px;
    top: 16px;
  }
  .icono{
    height: 40.93753433227539px;
    width: 45.18772506713867px;
    top: 7.03125px;
    border-radius: 0px;
    position: absolute;
    right: 3.12%;
    top: 27.62%;
    bottom: 15.62%;
    margin-left: 24px;
  }
  .escreveaqui{
    position: relative;
    height: 30px;
    width: 145px;
    left: 17px;
    margin-left: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
   
  }
  .escreveaqui h1{
    position: relative;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

  }
  .remitente{
    position: fixed;
    bottom: 10px;
    font-family: 'Roboto';
    font-size: 14px;
  }
  .vector{
    position: fixed;  
    Width:26px;
    Height:26px;
    Top:614px;
    margin-left: 331px; 
  
  }

  .mensagem{
    position:fixed;
    width: 375px;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  }
.li{
    position: absolute;
    width: 375px;
    height: 40px;
    left: 0px;
    top: 106px;
    background: #DCDCDC;
    border-radius: 2px;
}
.digitar {
  position: relative;
  height: 40px;
  border: 0;
  font-style: italic;
  font-size: 17px;
  color: #000000;
  width: 100%;
}
.opcionmes{
min-height: 40px;
width: 375px;
left: 0px;
top: 106px;
border-radius: 2px;
margin-top: 4px;
font-family: 'Roboto';
font-style: normal;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
}
.opcionmes span{
  font-weight: bold;
}
.opcionmes.todosmens{
  background-color: #FFFFFF;
  flex-wrap:wrap ;
  word-break: break-word;
}
.opcionmes.sistemamens{
  background-color: #DCDCDC;
  flex-wrap:wrap ;
  word-break: break-word;
}
.opcionmes.particularmens{
 background-color: #FFDEDE;
 flex-wrap:wrap ;
 word-break: break-word;
}

.container{
  position: fixed;
  width: 375px;
  height: 100%;
  left: 0px;
  top: -1px;
  
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.verificar {
  position: fixed;
  width: 259px;
  height: 667px;
  left: 116px;
  top: -1px;
  background: #FFFFFF;
  display: none;
}

.topo1{
position: absolute;
width: 259px;
height: 84px;
top: 8px;

}
.topo1 h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}
.escondido {
  display: none;
}

.visibilidade{
position: fixed;
width: 259px;
height: 84px;
top: 24px;
}
.visibilidade h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
align-items: center;
text-align: center;
color: #000000;
top: 14px;

}
.visibilidade2{
position:fixed;
width: 259px;
height: 66px;
top: 290px;
margin-left:13px;


}
.private {
  display: flex; 
  margin-left:16px;

top: 130px;
width: 194px;
height: 36px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
}

.private p{
  left: 10px;
}
.visibilidade2 h1{
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 88px;
  align-items: center;
  text-align: center;
 
  color: #000000;

   
}

.participantesactivos{
height: 36px;
width: 194px;
left: 180px;
top: 180px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.ionicon{
height: 30.3125px;
width: 30.3125px;
left: 2.34375px;
top: 88px;
left: 9.38%;
right: 9.38%;
top: 9.38%;
bottom: 9.38%;

}
.ionicone{
  height: 29.3125px;
  width: 29.3125px;
  }
.hagale{
position: absolute;
height: 200px;
left: 17px;
top: 99px;
overflow: scroll;
overflow-x: hidden;

}
.hagale::-webkit-scrollbar {
  display: none;
}
.enviartodos{
height: 36px;
width: 194px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.selecionado {
  box-shadow: 0px 0px 0px 5px #FFFFFF inset;
}
.check1{
  height: 15.4375px;
  width: 15.4375px;
  bottom: 14px;
  right: 11px;
  display: none;
}
.check2{
  height: 15.4375px;
  width: 15.4375px;
  bottom: 14px;
  right: 11px;
  display: none;
}
.vamos img{
  display:table!important;
}
